:root{

    /* Colors */
    --bg-color: #6f5143;
    --secondary-bg: #645f50;
    --primary-color: #311f0c;
    --primary-hover: #360303;

    --text-color: #FFFFFF;
    --text-secondary: #CBD5E1;
    --text-muted: #94A3B8;

    /* Layout */
    --container-width: 1200px;
    --section-padding: 100px;

    /* Effects */
    --border-radius: 12px;
    --transition: 0.3s ease;
}

/* Reset default browser spacing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Smooth scrolling when clicking navigation links */
html {
    scroll-behavior: smooth;
}

/* Basic body styling */
body{

    font-family: 'Poppins', sans-serif;

   background:
radial-gradient(circle at top right,#d2042d 0%, transparent 40%),
radial-gradient(circle at bottom left,#780606 0%, transparent 30%),
var(--bg-color);

    color: var(--text-color);

    line-height: 1.6;

    padding-top:80px;

    overflow-x:hidden;
}   

/* Remove underline from links */
a {
    text-decoration: none;
    color: inherit;
}

/* Remove list bullets */
ul {
    list-style: none;
}

/* Make images responsive */
img {
    max-width: 100%;
    display: block;
}

/* =========================
   NAVBAR
========================= */

.navbar{
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 8%;

    background: rgba(53, 52, 52, 0.25);

    backdrop-filter: blur(20px);

    border-bottom:1px solid rgb(247, 172, 172, 0.1);

    position: fixed; 
    top: 0;
    left: 0;

    z-index: 1000;/*kunei pani chiz lai aagadi lyaune kam garcha 
                        jati dherei value teti aagadi*/
}

.logo{
    font-size: 1.8rem;
    font-weight: bold;
}

.logo span{
    color: #000000;
}

.nav-links{
    display: flex;
    gap: 40px;
}

.nav-links a{
    transition: 1s;
}

.nav-links a:hover{
    color: #5f1800;
}

.btn{

    display:inline-block;

    padding:14px 28px;

    background:var(--primary-color);

    color:white;

    border-radius:var(--border-radius);

    transition:var(--transition);

    font-weight:600;

    box-shadow:0 10px 25px rgba(0, 0, 0, 0.3);
}

.btn:hover{

    background:var(--primary-hover);

    transform:translateY(-4px);

    box-shadow:0 18px 40px rgba(255, 240, 231, 0.45);
}



/* =========================
   HERO SECTION
========================= */

.hero{
    min-height: 100vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 8%;

    gap: 60px;
}

.hero-content{
    flex: 1;
}

.hero-image{
    flex: 1;

    display: flex;
    justify-content: center;
}

.hero-image img{

    width:380px;

    aspect-ratio:1;

    object-fit:cover;

    border-radius:20%;

    border:1px solid var(--primary-color);

    box-shadow:
    0 0 40px rgba(247, 247, 247, 0.5),
    0 0 80px rgba(100, 33, 2, 0.2);

    transition:var(--transition);
}

.hero-image img:hover{

    transform:scale(1.1);
}

.hero h1{
    font-size: 4rem;
    margin: 10px 0;
}

.hero h2{
    font-size: 2rem;
    margin-bottom: 20px;
}

.hero h2 span{
    color: #000000;
}

.description{
    max-width: 600px;
    color: #cbd5e1;
    margin-bottom: 35px;
}

.hero-buttons{
    display: flex;
    gap: 30px;
    
}

/* this is for download Cv button */
.btn-outline{

    display:inline-block;

    padding:14px 28px;

    border:1.5px solid var(--primary-color);

    border-radius:var(--border-radius);

    transition:var(--transition);

    font-weight:600;
}

.btn-outline:hover{

    background:var(--primary-color);

    transform:translateY(-4px);
}